.code-container {
  background-color: #f5f2f0; /* Default Prism Theme background */
  padding: 1rem;
  border-radius: 4px;
  max-height: 500px;
  overflow: auto;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

pre {
  margin: 0;
}
