name: Validate PR
on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [ main ]
    paths:
      - 'packages/**'
jobs:
  validate-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
     
      - name: Install Salesforce CLI
        run: npm install @salesforce/cli --global
     
      - name: Install Code Analyzer
        run: sf plugins install @salesforce/code-analyzer
     
      - name: Authenticate via JWT
        run: |
          echo "${{ secrets.SFDX_JWT_KEY }}" > portfolio.key
          sf org login jwt --client-id ${{ secrets.SFDX_CLIENT_ID }} --jwt-key-file portfolio.key --username ${{ secrets.SFDX_USERNAME }} --alias portfolio --instance-url https://login.salesforce.com
     
      - name: Run PMD Static Code Analysis
        run: sf code-analyzer run --target "packages" --rule-selector pmd:portfoliorules --format "table" --severity-threshold 1
     
      - name: Run Apex Tests
        run: sf apex run test --code-coverage --result-format human --wait 10 --target-org portfolio
